<!DOCTYPE html>
<html lang="en">
<body>
    <div class="aboutus">
        <div class="aboutus-header container">
            <div class="links">
                <a href="#mainpage" class="page-redirect">HOME</a>
                <a>О НАС</a>
            </div>
            <h1 class="aboutus-title">О нас</h1>
        </div>
    </div>
    <main class="aboutus-main container">
        <div class="aboutus-main-info">
            <p class="aboutus-main-info-text all-text-style">Корпоративный университет Sehriyo – это пространство непрерывного развития
                нашего
                коллектива.</p>
            <p class="aboutus-main-info-text all-text-style"><b>Наше видение</b> – это достижение статуса школы мирового уровня. А это
                возможно
                только
                в случае сплоченной работы команды и постоянного развития каждого из нас.</p>
            <ul class="aboutus-main-info-list all-text-style">
                <span>Корпоративный университет позволяет решать ряд <b>задач</b>:</span>
                <li>обеспечение реализации стратегии Sehriyo</li>
                <li>развитие системы оценки и обучения персонала</li>
                <li>формирование внутреннего резерва и непрерывный рост внутри Sehriyo</li>
                <li>сохранение знаний и опыта в Sehriyo</li>
                <li>развитие корпоративной культуры</li>
            </ul>
            <p class="about-us-main-info-desc all-text-style">Наш университет ориентирован на реальные потребности, лучшие мировые
                практики в
                области педагогики и подготовки административного персонала. Здесь вы найдете только самое необходимое и
                практичное, что поможет быстро и эффективно справляться с рабочими задачами.</p>

            <p class="about-us-main-info-desc all-text-style">Корпоративный университет – это больше, чем обучение. Это командная
                работа и
                постоянный обмен опытом и знаниями. Присоединяйтесь!</p>
        </div>
        <img src="images/about-us-img.png" alt="">
    </main>
</body>

</html>