<!DOCTYPE html>
<html lang="en">
<body>
    <main class="login">
        <div class="login-form">
            <h1 class="login-form-title">Войти</h1>
            <div class="user">
                <img src="images/user.svg" alt="">
                <input type="text" placeholder="Ваш логин" cols="30" rows="10" >
            </div>
            <div class="password">
                <img src="images/password.svg" alt="">
                <input type="password" placeholder="Пароль" cols="30" rows="10" >
            </div>
            <div class="remember-me">
                <input type="checkbox" class="remember-me">Запомнить меня
            </div>
                
            <div class="login-button">
                <p class="login-button-text">Войти</p>
                <img src="images/right-arrow.svg" alt="">
            </div>
            <span>Нету аккаунта? <a href="#signuppage" class="page-redirect">Зарегистрироваться!</a></span>
        </div>
    </main>
</body>
</html>