<!DOCTYPE html>
<html lang="en">
<body>
    <header class="header container">
        <a href="#mainpage" class="page-redirect">
            <img src="images/sehriyo.png" alt="sehriyo-logo" class="logo">
        </a>
        <div class="header-list">
            <ul class="header-list-link">
                <li><a href="#aboutuspage" class="page-redirect">О НАС</a></li>
                <li><a href="#teacherspage" class="page-redirect">ЭКСПЕРТЫ</a></li>
                <li><a class="page-redirect">ВСЕ КУРСЫ</a></li>
                <li><a class="page-redirect">МОИ КУСРЫ</a></li>
                <li><a href="" ><img src="images/search.svg" alt=""></a></li> 
            </ul>
        </div>
        <a href="#loginpage" class="header-login page-redirect">LOGIN</a>
    </header>
</body>

</html>