<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/main-header.css">
</head>

<body>
    <header class="header container">
        <a href="#mainpage" class="page-redirect">
            <img src="../images/sehriyo.png" alt="sehriyo-logo" class="logo">
        </a>
        <div class="header-list">
            <ul class="header-list-link">
                <li><a href="#aboutuspage" class="page-redirect">О НАС</a></li>
                <li><a href="" class="page-redirect">ЭКСПЕРТЫ</a></li>
                <li><a href="" class="page-redirect">ВСЕ КУРСЫ</a></li>
                <li><a href="" class="page-redirect">МОИ КУСРЫ</a></li>
                <li><a href="" ><img src="../images/search.svg" alt=""></a></li> 
            </ul>
        </div>
        <a class="header-login">LOGIN</a>
    </header>
</body>

</html>