<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/main-display.css">
    <title>Sehriyo Corporate</title>
</head>

<body>
    <main class="main container">
        <div class="main-info">
            <div class="main-info">
                <h1 class="main-info-title">КОРПОРАТИВНЫЙ УНИВЕРСИТЕТ</h1>
                <p class="main-info-text">Sehriyo</p>
                <p class="main-info-desc">Саморазвитие и самореализация в атмосфере счастья, сплоченности и созидания.
                </p>
                <a href="#aboutuspage" class="main-button page-redirect">Об университете
                    <img src="../images/right-arrow.svg" alt="">
                </a>
                <div class="main-info-right">
                    <p class="main-info-right-text">Пространство непрерывного развития коллектива Sehriyo:
                        профессионализм, польза и простота. Вместе мы сможем больше!</p>
                    <img class="school" src="../images/school.png" alt="sehriyo-school">
                    <img class="watermark" src="../images/watermark.png" alt="sehriyo-watermark">
                </div>
            </div>
            <div class="main-info-bottom">
                <div class="main-info-bottom-section">
                    <p class="main-info-bottom-title">18</p>
                    <p class="main-info-bottom-text">ЛЕТ ЛИДЕРСТВА</p>
                    <p class="main-info-bottom-desc">Основатели и лидеры частного школьного образования в РУз</p>
                </div>
                <div class="main-info-bottom-section">
                    <p class="main-info-bottom-title">40+</p>
                    <p class="main-info-bottom-text">ЛЕТ ОПЫТА</p>
                    <p class="main-info-bottom-desc">Лучшие практики с многолетним опытом</p>
                </div>
                <div class="main-info-bottom-section">
                    <p class="main-info-bottom-title">200+</p>
                    <p class="main-info-bottom-text">ПРОФФЕСИОНАЛОВ</p>
                    <p class="main-info-bottom-desc">Профессионалы своего дела, хранители опыта и знаний</p>
                </div>
                <div class="main-info-bottom-section">
                    <p class="main-info-bottom-title">1000+</p>
                    <p class="main-info-bottom-text">ВЫПУСКНИКОВ</p>
                    <p class="main-info-bottom-desc">Мы создаем поколение будущего</p>
                </div>
            </div>
        </div>
        <section class="main-cources">
            <div class="main-cource">
                <div class="main-corces-info">
                    <h1 class="main-cources-info-title">Лаборатория предмастерства</h1>
                    <p class="main-cources-info-text">20 курсов</p>
                    <p class="main-cources-info-desc">Учитесь у лучших экспертов отрасли</p>
                </div>
                <div class="main-cources-grid">
                    <div class="main-cources-grid-card">
                        <img src="../images/first-cource.png" alt="">
                        <p class="main-cources-grid-card-text">Sehriyo Instructor</p>
                        <h1 class="main-cources-grid-card-title">Школа классного руководителя</h1>
                    </div>
                    <div class="main-cources-grid-card">
                        <img src="../images/second-cource.png" alt="">
                        <p class="main-cources-grid-card-text">Sehriyo Instructor, NG Admin</p>
                        <h1 class="main-cources-grid-card-title">Сторителлинг в оброзовании</h1>
                    </div>
                    <div class="main-cources-grid-card">
                        <img src="../images/third-cource.png" alt="">
                        <p class="main-cources-grid-card-text">Sehriyo Instructor, NG Admin</p>
                        <h1 class="main-cources-grid-card-title">Современные методы оценивания</h1>
                    </div>
                </div>

            </div>
            <div class="main-cource">
                <div class="main-corces-info">
                    <h1 class="main-cources-info-title">Курсы компьютерной грамотности</h1>
                    <p class="main-cources-info-text">21 курс</p>
                    <p class="main-cources-info-desc">Сегодня - это уже вчерашний день. Новые инструменты для успешного
                        завтра!</p>
                </div>
                <div class="main-cources-grid">
                    <div class="main-cources-grid-card">
                        <img src="../images/first-it-cource.png" alt="">
                        <p class="main-cources-grid-card-text">Sehriyo Instructor, NG Admin</p>
                        <h1 class="main-cources-grid-card-title">Основы работы с Google Диском</h1>
                    </div>
                    <div class="main-cources-grid-card">
                        <img src="../images/second-it-cource.png" alt="">
                        <p class="main-cources-grid-card-text">Sehriyo Instructor, NG Admin</p>
                        <h1 class="main-cources-grid-card-title">Excel для работы и жизни</h1>
                    </div>
                </div>
            </div>
        </section>
        <section class="main-teachers">
            <p class="main-teacher-text">Наши Эксперты</p>
            <h1 class="main-teacher-title">Авторские курсы, созданные специально для вас! Учитесь у экспертов</h1>
            <div class="main-teachers-cards">
                <div class="main-teachers-card">
                    <img src="../images/first-teacher.png" alt="">
                    <h1 class="main-teachers-card-title">Арапова Арман Амантаевна</h1>
                    <p class="main-teachers-card-text">Замдиректора по духовно-просветительской работе Sehriyo</p>
                    <p class="main-teachers-card-desc">35 лет педагогической деятельности</p>
                </div>
                <div class="main-teachers-card">
                    <img src="../images/second-teacher.png" alt="">
                    <h1 class="main-teachers-card-title">Зарушко Алия Каримовна</h1>
                    <p class="main-teachers-card-text">Замдиректора по организационным вопросам</p>
                    <p class="main-teachers-card-desc">Дизайнер, имиджмейкер Sehriyo</p>
                </div>
                <div class="main-teachers-card">
                    <img src="../images/third-teacher.png" alt="">
                    <h1 class="main-teachers-card-title">Агишева Елена Анатольевна</h1>
                    <p class="main-teachers-card-text">Практикующий психолог</p>
                    <p class="main-teachers-card-desc">Член Ассоциации психологов Узбекистана</p>
                </div>
            </div>
            <button class="main-teachers-button">Все эксперты
                <img src="../images/right-arrow.svg" alt="">
            </button>
        </section>
        <section class="prefooter">
            <div class="prefooter-left">
                <span>SEHRIYO</span>
                <h1 class="prefooter-left-title">Непрерывное оброзование</h1>
                <p class="prefooter-left-text">Лучшие практики и подходы, проверенные экспертами Sehriyo. Развивайтесь вместе с нами!</p>
                <ul class="prefooter-left-list">
                    <span>Обучайстесь онлайн</span>
                    <li>В любое удобное время</li>
                    <li>В любом месте</li>
                </ul>
                <ul class="prefooter-left-list">
                    <span>Быстро перенимайте опыт</span>
                    <li>Только проверенные практики</li>
                    <li>Готовые шаблоны и схемы</li>
                </ul>
                <ul class="prefooter-left-list">
                    <span>Делитесь опытом</span>
                    <li>Создавайте свои курсы</li>
                    <li>Делитесь опытом с коллегами</li>
                </ul>
            </div>
            <div class="prefooter-right">
                <img src="../images/prefooter-img-first.png" alt="">
                <div class="prefooter-right-two">
                    <img src="../images/prefooter-img-second.png" alt="">
                    <img src="../images/prefooter-img-third.png" alt="">
                </div>
                
            </div>
            
        </section>
    </main>
</body>

</html>