<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/signup-display.css">
    <title>Sehriyo Corporate</title>
</head>
<body>
    <main class="signup">
        <div class="signup-form">
            <h1 class="signup-form-title">Зарегистрироваться</h1>
            <div class="user">
                <img src="../images/user.svg" alt="">
                <input type="text" placeholder="Ваш логин" cols="30" rows="10" >
            </div>
            <div class="password">
                <img src="../images/password.svg" alt="">
                <input type="password" placeholder="Пароль" cols="30" rows="10" >
            </div>
            <div class="password">
                <img src="../images/confirm-password.svg" alt="">
                <input type="password" placeholder="Подтвердите пароль" cols="30" rows="10" >
            </div>
            <div class="signup-button">
                <p class="signup-button-text">Войти</p>
                <img src="../images/right-arrow.svg" alt="">
            </div>
            <span>Есть аккаунт? <a href="../components/login-display.html">Войти!</a></span>
        </div>
    </main>
</body>
</html>