<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/teachers-display.css">
    <title>Sehriyo Corporate</title>
</head>

<body>
    <div class="teachers ">
        <div class="teachers-header container">
            <div class="links">
                <a href="../pages/mainpage.html">HOME</a>
                <a href="#!">НАШИ ЭКСПЕРТЫ</a>
            </div>
            <h1 class="teachers-title">Наши эксперты</h1>
        </div>
    </div>
    <main class="main-teachers container">
        <h1 class="main-teachers-title">Авторские курсы,
            созданные специально для вас!
            Учитесь у экспертов</h1>
        <div class="main-teachers-cards">
            <div class="main-teachers-card">
                <img src="../images/first-teacher.png" alt="">
                <h1 class="main-teachers-card-title">Арапова Арман Амантаевна</h1>
                <p class="main-teachers-card-text">Замдиректора по духовно-просветительской работе Sehriyo</p>
                <p class="main-teachers-card-desc">35 лет педагогической деятельности</p>
            </div>
            <div class="main-teachers-card">
                <img src="../images/second-teacher.png" alt="">
                <h1 class="main-teachers-card-title">Зарушко Алия Каримовна</h1>
                <p class="main-teachers-card-text">Замдиректора по организационным вопросам</p>
                <p class="main-teachers-card-desc">Дизайнер, имиджмейкер Sehriyo</p>
            </div>
            <div class="main-teachers-card">
                <img src="../images/third-teacher.png" alt="">
                <h1 class="main-teachers-card-title">Агишева Елена Анатольевна</h1>
                <p class="main-teachers-card-text">Практикующий психолог</p>
                <p class="main-teachers-card-desc">Член Ассоциации психологов Узбекистана</p>
            </div>
            <div class="main-teachers-card">
                <img src="../images/firth-teacher.png" alt="">
                <h1 class="main-teachers-card-title">Мирсаидова Сайёра Камбаралиевна</h1>
                <p class="main-teachers-card-text">Учитель и классный руководитель года Sehriyo</p>
                <p class="main-teachers-card-desc">Лауреат международного конкурса "Хрустальная чернильница"</p>
            </div>
            <div class="main-teachers-card">
                <img src="../images/fifth-teacher.png" alt="">
                <h1 class="main-teachers-card-title">Инагамова Луиза Рашидовна</h1>
                <p class="main-teachers-card-text">Учитель начальных классов, классный руководитель года Sehriyo</p>
                <p class="main-teachers-card-desc">Победитель в номинации "Yaklassный учитель" online-школы</p>
            </div>
            <div class="main-teachers-card">
                <img src="../images/sixth-teacher.png" alt="">
                <h1 class="main-teachers-card-title">Аракелян Ирина Суреновна</h1>
                <p class="main-teachers-card-text">Учитель года Sehriyo</p>
                <p class="main-teachers-card-desc">Тренер и судья Дебатной программы, тренер в программе "Чтение и
                    письмо для развития навыков критического мышления"</p>
            </div>
            <div class="main-teachers-card">
                <img src="../images/seventh-teacher.png" alt="">
                <h1 class="main-teachers-card-title">Краева Марина Юрьевна</h1>
                <p class="main-teachers-card-text">Учитель начальных классов Sehriyo</p>
                <p class="main-teachers-card-desc">35 лет педагогической деятельности</p>
            </div>
            <div class="main-teachers-card">
                <img src="../images/eight-teacher.png" alt="">
                <h1 class="main-teachers-card-title">Сидорова Ирина Николаевна</h1>
                <p class="main-teachers-card-text">Учитель Sehriyo</p>
                <p class="main-teachers-card-desc">Лауреат республиканских и международных конкурсов</p>
            </div>
            <div class="main-teachers-card">
                <img src="../images/nineth-teacher.png" alt="">
                <h1 class="main-teachers-card-title">Нурутдинова Михри Убайдуллаевна</h1>
                <p class="main-teachers-card-text">Классный руководитель года Sehriyo</p>
                <p class="main-teachers-card-desc">5 лет стажа в должности председателя м/о классных руководителей</p>
            </div>
        </div>
    </main>
</body>

</html>