.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

.links {
    display: flex;
    gap: 10px;
}

.links a:nth-child(1) {
    font-size: 15px;
    font-weight: 400;
    color: #444;
}

.links a:nth-child(2) {
    font-size: 15px;
    font-weight: 400;
    color: #475F7B;
}

.links a:nth-child(1)::after {
    content: '/';
    margin-left: 10px;
}

.aboutus {
    background: #fafafa;
}

.aboutus-title {
    padding-bottom: 30px;
    padding-top: 10px;

    font-family: 'Montserrat-Bold';
    color: #2c4560;
}

.aboutus-main {
    display: flex;
    gap: 20px;
    margin-top: 40px;
    padding: 10px;
}

.aboutus-main-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 740px;
}

.aboutus-main-info-list li {
    margin: 10px 0 10px 15px;
}

.all-text-style {
    font-size: 16px;
    color: #7A7A7A;
}

.aboutus-main img {
    width: 350px;
    height: 480px;
}

.aboutus-main-info-list li {
    list-style-type: "– ";
}